<h1>Wallets#index</h1>
<p>Find me in app/views/wallets/index.html.erb</p>

<h1>Your Wallets</h1>

<% @wallets.each do |wallet| %>
  <h5 class="mt-5 wallet-title"><%= link_to wallet.name, wallet_path(wallet) %></h5>
  <h6>Wallet balance: <%= wallet.balance %></h6>
<% end %>

<div class="mt-5">
  <%= link_to 'Create a new wallet', new_wallet_path %>
</div>


<h1 class="mt-5">Your Recent Transactions</h1>
    <ul>
  <% @transactions.each do |transaction| %>
      <li><%= transaction.amount %> / <%= transaction.activity %> / <%= transaction.sender_wallet.name %>
        <% if transaction.activity == "Transfer"  %>
          --> <%= transaction.receiver_wallet.name%>
        <% end  %>
        </li>
  <% end %>
    </ul>

