<h1>Your Wallets</h1>

<% @wallets.each do |wallet| %>
  <h5 class="mt-5 wallet-title"><%= link_to wallet.name, wallet_path(wallet) %></h5>
  <h6>Wallet balance: <%= humanized_money_with_symbol(wallet.balance) %></h6>
<% end %>

<% if @wallets.length < 1%>
  <h6 class="mt-4">Please create your first wallet 👇</h6>
<% end %>

<div class="mt-5">
  👉 <%= link_to 'Create a new wallet', new_wallet_path %>
</div>


<h1 class="mt-5">All Transactions</h1>
    <ul>
  <% @transactions.each do |transaction| %>
      <li><%= humanized_money_with_symbol(transaction.amount) %> / <%= transaction.activity %> / <%= transaction.sender_wallet.name %>
        <% if transaction.activity == "Transfer"  %>
          --> <%= transaction.receiver_wallet.name%>
        <% end  %>
        </li>
  <% end %>
    </ul>

  <% if @transactions.length < 1%>
    <h6 class="mt-4">No transaction history yet, please create a wallet and make your first deposit</h6>
  <% end %>

