<h5>
  <%= @wallet.name %>
</h5>

<h6>Current Balance: <%= @wallet.balance %></h6>

<h6 class="mt-5">Transaction History</h6>
<% @transactions.each do |transaction| %>
  <h6><%= transaction.amount %></h6>
  <h6><%= transaction.activity %></h6>
  <h6><%= transaction.purpose %></h6>
  <h6><%= transaction.receiver_wallet.name %></h6>
<% end %>

<p class="mt-5">New transaction</p>
<%= link_to 'withdraw/deposit/transfer', new_wallet_transaction_path(@wallet) %>

<p class="mt-5">Manage this wallet</p>

<%= link_to 'edit', edit_wallet_path(@wallet) %>
<%= link_to 'delete', wallet_path(@wallet), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to 'back', root_path %>
