<h1>
  <%= @wallet.name %>
</h1>

<h5>Current Balance: <%= humanized_money_with_symbol(@wallet.balance) %></h5>

<h1 class="mt-5">Transaction History</h1>
    <ul>
  <% @transactions.each do |transaction| %>
      <li><%= humanized_money_with_symbol(transaction.amount) %> / <%= transaction.activity %> / <%= transaction.purpose %> /<%= transaction.sender_wallet.name %>
        <% if transaction.activity == "Transfer"  %>
          --> <%= transaction.receiver_wallet.name%>
        <% end  %>
        </li>
  <% end %>
    </ul>

<p class="mt-5">New transaction</p>
<%= link_to 'withdraw', new_wallet_transaction_path(@wallet) %> /
<%= link_to 'deposit', new_wallet_transaction_path(@wallet) %> /
<%= link_to 'transfer', new_wallet_transaction_path(@wallet) %>

<p class="mt-5">Manage this wallet</p>

<%= link_to 'edit', edit_wallet_path(@wallet) %> /
<%= link_to 'delete', wallet_path(@wallet), method: :delete, data: {confirm: "Are you sure?"} %> /
<%= link_to 'back', root_path %>
