<h1>
  <%= @wallet.name %>
</h1>

<h5>Current Balance: <%= humanized_money_with_symbol(@wallet.balance) %></h5>

<h3 class="mt-5">Transaction History</h3>
<ul>
  <% @transactions.each do |transaction| %>
      <li><%= humanized_money_with_symbol(transaction.amount) %> | <%= transaction.activity %> | <%= transaction.purpose %> | <%= transaction.sender_wallet.name %>
        <% if transaction.activity == "Transfer"  %>
          → <%= transaction.receiver_wallet.name%>
        <% end  %>
        </li>
  <% end %>
</ul>

<% if @transactions.length < 1%>
  <h6 class="mt-4">No transaction history yet, make your first deposit 👇</h6>
<% end %>

<h3 class="mt-5">New transaction</h3>
<%= link_to 'Withdraw / Deposit / Transfer', new_wallet_transaction_path(@wallet) %>

<h3 class="mt-5">Manage this wallet</h3>

<%= link_to 'Edit', edit_wallet_path(@wallet) %> /
<%= link_to 'Delete Wallet', wallet_path(@wallet), method: :delete, data: {confirm: "Are you sure?"} %> /
<%= link_to 'Back', root_path %>
